/* Genel Stil */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  color: #eae0c8;
  text-align: center;
  background-color: #0d0d0d;
}

/* Arka plandaki Gecko silueti */
body::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  background-image: url('../images/gecko.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.08;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  font-size: 3.5em;
  color: #
